.app__wrapper_img {
    text-align: center; /* Center the image within the div */
    margin-top: 50px; /* Add some space above the image */
}

.bounce-image {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
